body {
    background-color: #E5E5E5;
}

.hamberger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

.navbar-expand-lg {
    height: 62px;
    background-color: #3B868A;
}

.navbar-brand {
    font-size: 24px;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-right: 15px;
}

.nav-link:hover {
    color: white;
}

.nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid white;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

.nav-item {
    background-color: white;
    color: #3B868A;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    border-radius: 30px;
    border-color: #3B868A;
}

.nav-item:hover,
.tombol:hover {
    background-color: #3B868A;
    color: white;
    border-color: white;
}

#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: #eee;
    display: none;
    align-items: center;
}

p {
    font-size: 24px;
    color: #3B868A;
    margin-top: 36px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 36px;
}

hr {
    border-top: 2px solid #3B868A;
}

.card {
    border-radius: 20px;
    border-width: 0px;
    border-color: #3B868A;
    background-color: #3B868A;
    height: 280px;
}

.card-text {
    color: white;
    text-align: center;
    font-size: 27px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.s {
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.container .container .row {
    margin-top: 20px;
}

.tombol {
    background-color: white;
    color: #3B868A;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    text-align: center;
    border-color: #3B868A;
    margin-top: 20px;
}

.v {
    background-color: white;
    color: #3B868A;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 15px;
    border-radius: 30px;
    width: 100px;
    text-align: center;
    border-color: #3B868A;
    margin-top: 20px;
}

.far {
    margin-top: -20px;
    color: white !important;
}

.buttonlogout {
    border: none;
    padding: 0;
    background: none;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-right: 15px;
    margin-top: 8px;
}

.buttonlogout:hover {
    color: white;
}

.buttonlogout:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid white;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}