body {
    background-color: #E5E5E5;
}

p {
    font-size: 25px;
    text-align: center;
    color: #3B868A;
    margin-top: 36px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 10px;
}

.navbar-expand-lg {
    height: 62px;
    background-color: #3B868A;
}

.navbar-brand {
    font-size: 24px;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-right: 10px;
}

.nav-link:hover {
    color: white;
}

.nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid white;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

.nav-item {
    background-color: white;
    color: #3B868A;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border-radius: 30px;
    text-align: center;
    border-color: #3B868A;
    font-size: 17px;
    width: 120px;
    margin-right: 10px;
}

.nav-item:hover,
.tombol:hover {
    background-color: #3B868A;
    color: white;
    border-color: white;
}

.c {
    margin-top: 14px;
}

img {
    margin-right: 12px;
    margin-top: -3px;
}

.tbl_beranda{
    font-size: 17px;
    width: 120px;
    margin-right: 10px;
    margin-left: 20px;
    height: 40px;
}

.b {
    margin-left: 5px;
    width: 25px;
    height: 22px;
}

.text {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #3B868A;
    text-decoration: none;
    font-size: 16px;
}

.btn-danger {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 90px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    margin-top: 2px;
    margin-left: 160px;
}

.btn-primary-proses {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 120px;
    background-color: #3B868A;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    margin-top: 2px;
    margin-left: 820px;
}

.buttonlogout{
    border: none;
    padding: 0;
    background: none;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-right: 15px;
    margin-top: 8px;
}

.buttonlogout:hover{
    color: white;
}

.buttonlogout:hover::after{
    content: "";
    display: block;
    border-bottom: 3px solid white;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}
